MYSQL_DSN=mysql+pymysql://nowcoder:nowcoder@127.0.0.1:3307/nowcoder
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672/
RAW_DATA_DIR=./data/raw

FETCH_QUEUE=fetch.ready
WORKER_PREFETCH=2
FETCH_CONNECT_TIMEOUT_SECONDS=10
FETCH_TIMEOUT_SECONDS=30
FETCH_MAX_ATTEMPTS=3
FETCH_BASE_DELAY_SECONDS=5
FETCH_JITTER_SECONDS=2
FETCH_RETRY_AFTER_DEFAULT_SECONDS=60
FETCH_RETRY_AFTER_MAX_SECONDS=300

EXPERIENCE_API_MAX_PAGES=20
EXPERIENCE_API_INTERVAL_SECONDS=2
EXPERIENCE_API_JITTER_SECONDS=1
SITEMAP_MAX_DOCUMENTS=20
SITEMAP_MAX_URLS=50000
SITEMAP_ROOT_URLS=https://www.nowcoder.com/sitemap.xml
